<mat-form-field class="example-full-width">
    <input matInput placeholder="Email" [formControl]="emailFormControl">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

<mat-form-field>

    <input matInput placeholder="email" [(ngModel)]=email name="email">

  </mat-form-field>
  <br>
  <mat-form-field>

    <input matInput type="password" placeholder="password" [(ngModel)]=password required minlength="6">

  </mat-form-field>
  <br>
  <button mat-raised-botton color="accent" (click)="signup(email,password)" [disabled]="!email || !password " >Sign up</button>

  <div [hidden]=!signedUp>
<h1>Your account has bean created!</h1>

  </div>


  