
<div class="register">
<mat-form-field>
    <input matInput placeholder="email" [(ngModel)]="email" email="true" >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput type="password" placeholder="password" [(ngModel)]="password" required minlength="6">
  </mat-form-field>
  <br>
  <button mat-raised-botton color="accent" (click)="signup(email,password)" [disabled]="!email || !password " >Sign up</button>
</div>
  <ng-template #loggedIn>
    <h1>Hi, welcome to the Vinyl blog :)</h1>
  </ng-template>

  