<mat-toolbar color="primary">
<mat-toolbar-row>
<span class="main" routerLink =""> Blog </span>
<span class="spacer"> </span>
<div *ngIf="auth.afAuth.authState | async as user; else showLogin">
  
  <button class="createPost" routerLink = "/dashboard">Write a post</button>

<span class="name">Hello {{user.displayName || user.email}}</span>
<button class="logout" (click)="auth.logout()">Logout</button>
</div>

<ng-template #showLogin>
  <button mat-button (click)="auth.loginGoogle()">Login with Google</button>
  <button mat-button (click)="loginFormSwitch()">Login with Email</button>
  <div [hidden]="!loginForm">
          <input matInput placeholder="email" [(ngModel)]=email name="email">
     
          <input type="password" matInput placeholder="password" [(ngModel)]=password >
      
          <button mat-button (click)="login(email,password)">login</button>
        
  </div>
  <button mat-button routerLink = "signup">Sign Up</button>
</ng-template>
</mat-toolbar-row>
</mat-toolbar>

