<mat-toolbar color="primary">
<mat-toolbar-row>
<span routerLink =""> Blog </span>
<span class="spacer"> </span>
<div *ngIf="auth.afAuth.authState | async as user; else showLogin">

  <button mat-raised-botton color="accent" routerLink = "/dashboard">Write a post</button>
<span>Hello {{user.displayName}}</span>
<button mat-button (click)="auth.logout()">Logout</button>
</div>

<ng-template #showLogin>
  <button mat-button (click)="auth.loginGoogle()">Login with Google</button>
  <button mat-button (click)="loginForm = true">Login with Email</button>
  <div [hidden]="!loginForm">
          <input matInput placeholder="email" [(ngModel)]=email name="email">

          <input matInput placeholder="password" [(ngModel)]=password >
          <button mat-button (click)="login(email,password)">login</button>


  </div>
  <button mat-button routerLink = "signup">Sign Up</button>
</ng-template>
</mat-toolbar-row>
</mat-toolbar>

