<ng-container *ngIf="post">
    <div [hidden]="!editing">

        <mat-card>
        <mat-form-field>

            <input matInput placeholder="Post Title" [(ngModel)]=post.title name="title">

        </mat-form-field>
        <br>
        <mat-form-field>

            <textarea matInput placeholder="Post content" [(ngModel)]=post.content rows="9"></textarea>

        </mat-form-field>
        <br>
        <button mat-raised-botton color="accent" (click)="updatePost()">Save</button>
        <button mat-button (click)="editing=false">Cancel</button>

    </mat-card>
    </div>

    <div [hidden]="editing">
    <mat-card>
        <img src="{{post.image}}" alt="{{post.image}}">
        <p>posted by {{post.author}} &bull; {{post.published | date: 'fullDate' }}</p>
        <mat-card-content>
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="auth.currentUserId === post.authorId">
            <button mat-icon-button (click)="editing=true">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button (click)="delete(post.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>
</ng-container>